*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flexcontainer{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
}
/* centers items held within a div  */
.centercontents{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* fonts - lemon milk */
@font-face {
    font-family: fontb;
    src: url(fnt/LEMONMILK-Bold.otf);
}
@font-face{
    font-family: fontbi;
    src: url(fnt/LEMONMILK-BoldItalic.otf);
}
@font-face {
    font-family: fontl;
    src: url(fnt/LEMONMILK-Light.otf);
}
@font-face {
    font-family: fontli;
    src: url(fnt/LEMONMILK-LightItalic.otf);
}
@font-face {
    font-family: fontm;
    src: url(fnt/LEMONMILK-Medium.otf);
}
@font-face {
    font-family: fontmi;
    src: url(fnt/LEMONMILK-MediumItalic.otf);
}
@font-face {
    font-family: fontr;
    src: url(fnt/LEMONMILK-Regular.otf);
}
@font-face {
    font-family: fontri;
    src: url(fnt/LEMONMILK-RegularItalic.otf);
}
@font-face {
    font-family: chatfontr;
    src: url(fnt/LTSaeada-Regular.otf);
}

@font-face {
    font-family: title;
    src: url(fnt/AlteHaasGroteskRegular.ttf);
}

/* CHATBOT STYLES */
#chatbotJ{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    height: 25rem;
    margin-right: 1rem;
    width: 18rem;
    z-index: 10;
    background-color: transparent; /* Make the background fully transparent */
    box-shadow: -17px -9px 20px rgba(0, 0, 0, 0.5);
    opacity: 1;
    transition: opacity 0.5s ease;

}

#chatbotheader{
    background-color: #028090;
    padding: 0.2rem 0.2rem 4rem 0.2rem ;
    height: 15%;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    color: #fff;
    
}

#chatbotJ #chatbotheader h1{
    font-family: fontb;
    font-size: 1.8rem;
    padding-left: 3.8rem;
    color: #fff;
}

#chatbotJ #chatbotheader h2{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    letter-spacing: 0.5rem;
    padding-left: 4.5rem;
    font-family: fontli;
}

#chatbotheader #options{
    justify-content: space-between !important;

}

#chatbotheader .fa-times-circle{
    color: #C70039;
    margin-top: 0.2rem;
    margin-right: 0.2rem;
    font-size: 1.4rem;
}

#chatbotJ #chatbotheader .chaticon{
    position: absolute;
    z-index: 1;
    top: -1rem;
    left: -3rem;
    border-radius: 1rem;
    width: 6rem;
    height: 6rem;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 2px solid #09526e;
    box-shadow: 14px -3px 16px 0px #2c2f33c4;
    align-content: space-around;
    background-color: #05668D;
}

#chatbotJ #chatbotheader .chaticon .fa-comments{
    font-size: 4.5rem;
    display: flex;
    justify-content: center;
}

#chat {
    background-color: #EBF2FA;
    height: 60%;
    overflow-y: auto; 
}


#chat::-webkit-scrollbar {
    width: 10px; 
}


#chat::-webkit-scrollbar-thumb {
    background-color: #666; 
    border-radius: 10px; 
}

#chat::-webkit-scrollbar-track {
    background-color: #ddd; 
    border-radius: 10px; 
}

.messagescontent .message p {
    font-family: chatfontr;
    font-size: 0.9rem;
}

.time {
    font-family: fontli;
    font-size: 0.6rem;
}

.messages .message {
    clear: both;
    float: left;
    padding: 6px 10px 7px;
    border-radius: 10px 10px 10px 0;
    background: rgba(0, 0, 0, 0.3);
    margin: 8px 0;
    font-size: 14px;
    line-height: 1.4;
    margin-left: 35px;
    position: relative;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    max-width: 70%;
  }

  .messagescontent .message-personal{
    float: right !important;
    color: #fff;
    text-align: right;
    background: -webkit-linear-gradient(330deg, #02C39A, #028090) !important;
    background: linear-gradient(120deg, #02C39A, #028090) !important;
    border-radius: 10px 10px 0 10px !important;
    margin: 8px 35px 8px 0 !important;
}

.messages .message:first-of-type{
    margin-top: 1rem !important;
}

#chatheader h2{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.6rem;
    letter-spacing: 0.5rem;
    padding-left: 1.2rem;
    font-family: fontli;
}

#inputspace{
    background-color: #2C2F33;
    height: 20%;
    padding-bottom: 6rem;
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
}

#inputspace form #question{
    border:1px solid #ccc;
  outline:none;
  width:90%;
  height:4%;
  border-radius:33px;
  margin:0 auto;
  color:#151515;
  font-size:18px;
  color: #2c2f33;
  font-family: sans-serif;
  margin-top: 0.5rem;
}

#inputspace form input[type="submit"]{
    border-radius:33px;
    background-color: #028090;
    border: none;
    width: 8rem;
    height: 2rem;
    font-family: fontl;
    color: #fff;
    margin-top: 1rem;
}

/* END CHATBOT STYLES */

/* BUTTON TO OPEN CHAT */

#chatbotbuttonJ .chatbutton{
    position: absolute;
    z-index: 10;
    top: 1rem;
    left: 1rem;
    border-radius: 1rem;
    width: 6rem;
    height: 6rem;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 2px solid #09526e;
    box-shadow: -17px -9px 20px rgba(0, 0, 0, 0.5);
    align-content: space-around;
    background-color: #05668D;
    transition: 2.5s;
}

#chatbotbuttonJ .chatbutton:hover{
    transition: 2.5s;
}

#chatbotbuttonJ .chatbutton .fa-comments{
    font-size: 5rem;
    display: flex;
    justify-content: center;
    color: #fff;
}

#chatbotbuttonJ{
    position: fixed;
    bottom: 9rem; /* Adjust this value to move it higher */
    right: 4rem;
    margin-right: 5rem;
    border-radius: 2.5px;
    z-index: 9;
}

/* used to remove and add items */

.disabled {
    display: none;
    opacity: 0;
    pointer-events: none;
}


/* anaimation for typing  */
.message .dot {
    animation: mercuryTypingAnimation 1.8s infinite ease-in-out;
    background: linear-gradient(120deg, #02C39A, #028090);
    border-radius: 50%;
    height: 0.5rem;
    margin-right: 4px;
    vertical-align: middle;
    width: 0.5rem;
    display: inline-block;
}

.message-bot .dot:nth-child(1) {
    animation-delay: 200ms;
}

.message-bot .dot:nth-child(2) {
    animation-delay: 300ms;
}

.message-bot .dot:nth-child(3) {
    animation-delay: 400ms;
}

.message-bot .dot:last-child {
    margin-right: 0;
}

@keyframes mercuryTypingAnimation {
    0% {
        transform: translateY(0px);
    }
    28% {
        transform: translateY(-7px);
    }
    44% {
        transform: translateY(0px);
    }
}

      

/* END BUTTON TO OPEN CHAT */


header{
    background-color: #05668D;
    height: 5.5rem;
}
header h1{
    font-family: title;
    color: #fff;
    font-size: 3rem;
    margin-left: 3rem;
}

header h2{
    font-family: title;
    color: #ffffffbd;
    font-size: 1.5rem;
    margin-left: 5rem;
    letter-spacing: 0.2rem;
}
#courses {
    background-color: #fff;
}


#courses .coursesheading h1{
    font-size: 1.1rem;
    font-family: title;
    text-align: center;
    color: #ddd;
    justify-content: space-around;
    width: 68%;
}

#courses .coursesheading{
    background-color: #2C2F33;
    width: 100%;
    padding: 0.5rem 0;
}

#courses div div .item img{
    height: 10rem;
    width: 10rem;
    /* align-self: center; */
    
}

.item a{
    text-decoration: none;
    color: black;
}

#courses div div{
    flex-wrap: wrap;
    width: 100vw;
}

#courses .top{
    margin-top: 1rem;
}



#courses div div .item p{
    font-family: title;
    font-size: 1.5rem;
    text-align: center;
}
#courses div div .item{
    text-align: center;
    width: 25%;
    margin-bottom: 1rem;
}


@media screen and (max-width:620px) {
    #courses div div .item{
        width: 35%;
    }
    @media screen and (max-width:460px) {
        #courses div div .item{
            width: 100%;
        } 
    }
}
#courses div div{
    width: 100vw;
}
#courses .flexcontainer {
    flex-basis: calc(50% - 100px); /* Adjust the width based on your preference */
    margin: 5px; /* Adjust the margin as needed */
}


.banner{
    width: 100%;
    background-color: #2c2f33;
    padding: 0.5rem 0;
}


.banner h2{
    color: #fff;
    text-align: center;
    font-family: title;
    font-size: 1.1rem;
    text-decoration: none;
}

.banner h2 a{
    color: #02C39A;
    font-family: title;
    font-size: 1.1rem;
    text-decoration: underline;
    transition: 0.5s;
}

.banner h2 a:hover{
    font-size: 1.2rem;
    transition: 0.5s;
}